:root {
    --side-left: calc(90vw - 100px);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background/town.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.back-arrow {
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
}

#carouselExampleIndicators {
    width: 40%;
    position: fixed;
    top: 10%;
    left: 30%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #FFFF;
}

.side-container {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 10px;
    left: var(--side-left);
}

#settings {
    border: none;
    color: #FFFFFF;
    background-color: #ffffff00;
    cursor: pointer;
}

#settings span {
    font-size: 36px;
}

#settings span:hover {
    font-size: 40px;
}

#settings:active {
    transform: rotate(30deg);
}

.settings-list {
    display: none;
    list-style-type: none;
    color: #2E8B57;
    background-color: #F0F8FF;
    padding: 5px 0px 10px 5px;
    border: 1px solid #F0F8FF;
    border-radius: 5%;
}

.settings-list li {
    cursor: pointer;
    font-size: 28px;
    transition: color 0.3s;
}

.settings-list li:hover {
    font-size: 30px;
    color: #32CD32;
}

.settings-list li:active {
    color: #FF6347;
}

/* SLIDE BOTTOM ANIMATION */
@keyframes slide-bottom {
    0% {
        transform: translateY(-20px)
    }

    100% {
        transform: translateY(0px)
    }
}

#story, #training, #arena, #store {
    cursor: pointer;
}