<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battlestride RPG | Login</title>
    <link rel="stylesheet" href="./css/user/login.css">
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST" action="/user/login">
          <div class="user-box">
            <input type="email" name="email" required>
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required>
            <label>Password</label>
          </div>
          <a id="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>

          <button type="submit" hidden id="sendData">SubmitBtn</button>
        </form>
    </div>


    <script src="./js/user/login.js"></script>
</body>
</html>